<% title="Welcome to the GPaaS Team Test App for Cloud Foundry" %>
<!doctype html>
<html lang="en">
<head>
  <title><%= title %></title>
  <meta charset="utf-8">
</head>
<body>
  <header>
    <h1><%= title %></h1>
    <nav>
      <ul>
        <li><a href="/" title="Home">Home</a></li>
        <li><a href="/environment" title="Environment Variables">Environment Variables</a></li>
        <li><a href="/sleep/1000" title="Sleep for X Milliseconds">Sleep for X Milliseconds</a></li>
        <li><a href="/cpuload/4" title="Generate X Number of Processes to produce CPU Load">Generate X Number of Processes to produce CPU Load</a></li>
      </ul>
    </nav>
  </header>
</body>
</html>
